.forgot-password {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 84vh;
    background: #fff;
    right: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    .close-dialog {
        width: 100%;
        text-align: end;
        button {
            background: none;
            border: none;
            font-size: 1.8em;
            outline: none;
            color: #224177;
        }
    }
    .title {
        font-size: 24px;
        font-weight: 600;
        color: #224177;
        margin-top: 8vh;
    }
    .form-input {
        margin-top: 5vh;
        span {
            color: #224177;
        }
        input {
            width: 100%;
            margin-bottom: 2.5rem;
            border: 1px solid #ced6e1;
            border-radius: 2.5rem;
            padding: 1rem;
            margin-top: 2vh;
            color: #224177;
            ::placeholder {
              color: #224177;
            }
          }
    }

    .submit-button {
        width: 100%;
        text-align: center;
        button {
            width: 19rem;
            height: 4rem;
            background-color: #d5e7f7;
            border: none;
            border-radius: 2rem;
            font-size: 1.6rem;
            font-weight: 500;
            color: #224177;
        }
    }
    
   
}

