<div class="container-fluid">
  <div class="header">
    <div>
      <img src="../../../../../../assets/svg/Group 4534.png" alt="" class="logo">
    </div>
  </div>
  <div class="a">
    Nguyễn Như Hà vừa giới thiệu bạn sử dung phần
    mềm Spa Affiliate của Viện thẩm mỹ Siam
    Thailand.
  </div>
  <div class="b">
    Vui lòng làm theo hướng dẫn để bắt đầu sử dung phần mềm.
  </div>
  <div class="step">
    <div class="row step-1">
      <div class="number">
        <span>1</span>
      </div>
      <div class="col register">Đăng ký tài khoản</div>
    </div>
    <div class="br"></div>
    <div class="row step-1">
      <div class="number">
        <span>2</span>
      </div>
      <div class="col register">Tải ứng dung Siam Affiliate</div>
    </div>
    <div class="br"></div>
    <div class="row step-1">
      <div class="number">
        <span>3</span>
      </div>
      <div class="col register">Đăng nhập và bắt đầu sử dụng</div>
    </div>
    <!-- <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Đăng ký tài khoản</ng-template>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Tải ứng dung Siam Affiliate</ng-template>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Đăng nhập và bắt đầu sử dụng</ng-template>
            </form>
        </mat-step>
    </mat-vertical-stepper> -->

  </div>
  <div class="btn" routerLink="/pages/home/link-introduce1">
    <button>Đăng kí</button>
  </div>
</div>