<div class="change-pass">
    <div class="change-pass-container">
        <div class="logo">
            <img
                src="assets/images/Group 1836.png"
                alt="logo"
            />
        </div>
        <div class="change-pass-wrapper">
            <form
                action=""
                class="change-pass-form"
            >
                <h2 class="title">Đổi mật khẩu</h2>
                <div style="margin-top: 20px;">
                    Mật khẩu cũ:
                    <input
                        class="mt-2"
                        type="password"
                        name="OldPassword"
                        [(ngModel)]="model.OldPassword"
                        id="OldPassword"
                        placeholder="Nhập mật khẩu cũ"
                    />
                </div>
                <div style="margin-top: 20px;">
                    Mật khẩu mới:
                    <input
                        class="mt-2"
                        type="password"
                        name="NewPassword"
                        id="NewPassword"
                        [(ngModel)]="model.NewPassword"
                        placeholder="Nhập mật khẩu mới"
                        required
                        minlength="6"
                    />
                    <i *ngIf="model.NewPassword && model.NewPassword.length < 6">
                        Vui lòng nhập mật khẩu có ít nhất 6 ký tự
                    </i>
                </div>
                <div style="margin-top: 20px;">
                    Nhập lại mật khẩu mới:
                    <input
                        class="mt-2"
                        type="password"
                        name="ConfirmPassword"
                        id="ConfirmPassword"
                        [(ngModel)]="model.ConfirmPassword"
                        placeholder="Xác nhận mật khẩu"
                        required
                        minlength="6"
                    />
                    <i *ngIf="model.ConfirmPassword && model.NewPassword !== model.ConfirmPassword">
                        Mật khẩu không hợp lệ
                    </i>
                </div>
            </form>
            <div class="change-pass-button">
                <button
                    class="change-pass-submit"
                    (click)="onChangePassWord()"
                >Cập nhật</button>
            </div>
        </div>
    </div>
</div>
