.change-pass {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    .change-pass-container {
      width: 90%;
      margin: 0 auto;
      position: relative;
      height: 100%;
  
      .logo {
        text-align: center;
        margin-top: 4.4rem;
      }
  
      .change-pass-wrapper {
        width: 100%;
        .change-pass-form {
          h2 {
            text-align: center;
            font-size: 2.4rem;
            color: #224177;
            font-weight: 500;
            margin-top: 20px;
          }
  
          input {
            width: 100%;
            border: 1px solid #ced6e1;
            border-radius: 2.5rem;
            padding: 1rem;
  
            ::placeholder {
              color: #224177;
            }
          } 
        }
  
        .change-pass-button {
          text-align: center;
          margin-top: 20px;
  
          .change-pass-submit {
            width: 19rem;
            height: 4rem;
            background-color: #d5e7f7;
            border: none;
            border-radius: 2rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
      }
    }
  }
  
