<div class="container-fluid">   
    <!-- <div class="header">
        <div>
          <img src="../../../../../../assets/svg/Group 4534.png" alt="" class="logo">
        </div>
    </div>
    <div>
        <mat-horizontal-stepper labelPosition="bottom" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Đăng ký</ng-template>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Tải ứng dụng</ng-template>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Đăng nhập</ng-template>
          </mat-step>
        </mat-horizontal-stepper>
      </div>   -->
      <div>
          <img src="../../../../../../../../assets/svg/Group 4526.png" alt="" class="logo1">
      </div>
      <div class="a">
        Tải ứng dụng tại
      </div>
      <div class="doawload">
        <img src="../../../../../../../../assets/svg/Group 4527.png" alt="" class="logo2">
    </div>
</div>
