// .header {

// }
.logo {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}
.logo1 {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}
.logo2 {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}
.doawload {
    margin-top: 1em;
}
.a {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: Segoe UI;
    color: #224177;
    margin-top: 1em;
}