<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <ul class="timeline">
        <li>
          <div class="timeline-content">
            <a>06:00</a>
            <div class="customer-info">
              <div class="name">
                Tran Thi Thanh Tra
              </div>
              <span class="code">
                Ma KH: 123456
              </span>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <a>08:00</a>
            <div class="customer-info">
              <div class="name">
                Nguyễn Hương Giang
              </div>
              <span class="code">
                Ma KH: 123456
              </span>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <a>10:00</a>
            <div class="customer-info">
              <div class="name">
                Trần Mỹ Linh
              </div>
              <span class="code">
                Ma KH: 123456
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
