<div class="container-fluid">   
    <div class="create-account">
        Đăng ký tài khoản
    </div>
    <div>
        <form>
            <input type="text" placeholder="Họ và tên">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Điện thoại">
            <input type="text" placeholder="Mật khẩu">
            <input type="text" placeholder="Xác nhận lại">
            <input type="text" placeholder="Mã giới thiệu">
        </form>
    </div>
    <div class="btn" routerLink="/pages/home/link-introduce2">
        <button>Đăng kí</button>
    </div>
</div>


