<div class="dialog-container container">
    <div class="row">
        <div class="col-10">
            <div class="dialog-title">Tạo danh mục</div>
        </div>
        <div class="col-2 pl-4">
            <span class="material-icons close-button" (click)="closeDialog()">
                close
            </span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            <mat-label>Tên:</mat-label>
        </div>
        <div class="col-9">
            <input class="form-control" [(ngModel)]="name">
        </div>
    </div>
   

    <div class="row">
        <div class="col-3"><br>
            <mat-label>Mô tả:</mat-label>
        </div>
        <div class="col-9">
            <textarea class="form-control" rows="3" [(ngModel)]="description"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col text-center text-light">
            <button class="btn customBtn" (click)="createCategory()">Tạo</button>
        </div>
    </div>
       
</div>